<!DOCTYPE HTML>
<html lang="en">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.dataTables_wrapper .dataTables_filter {
	float: left;
	margin-top: 5px;
	/* padding-bottom: 5px; */
}

.dataTables_length {
	display: none;
	cursor: pointer;
}

.dataTables_filter input {
	min-width: 350px;
}

.allBtnCss {
	margin-left: 54px;
	width: 100px;
}

.noneBtnCss {
	width: 100px;
}

.updateBtnCss {
	width: 100px;
}
</style>
<script type="text/javascript">
        var paymentTable, pendingOrderData;
        var selectedRowData, selectedRow;
        var items = new Array();
        $(document).ready(
            function () {
                $("#fromDate").datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                }).on("changeDate", function (e) {
                    //$("#paymentType").focus();
                });
                $("#toDate").datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                }).on("changeDate", function (e) {
                    //$("#paymentType").focus();
                });
                $("#updateSalesOrderOrderDate").datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                }).on("changeDate", function (e) {
                    //$("#paymentType").focus();
                });;
                $('#fromDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $('#toDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $('#updateSalesOrderOrderDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));

                initData();
                initPaymentAccountData();
                $("#paymentType").change(paymentTypeChangeHandler);
                $("#showAccountForPaymentModalBtn").click(showAccountForPaymentBtnClick);
                $("#showOrederDataBtn").click(showOrderData);
                $("#updateSalesOrderModel").change(modelOnChange);
                $("#updateSalesOrderPart").change(partNoOnChange);
                $("#returnMaterialBtn").click(returnMaterial);
                $("#updateSalesOrderModalBtn").click(updateSalesOrder);
                $("#createCustomerBtn").click(createCustomerBtnClick);
                $("#showCustomerModalBtn").click(showCreateCustomerModal);
                $("#updatedPaymentType").change(updatedSalesOrderPaymentTypeChange);

                paymentTable = $("#dataTable").DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 21, 23]
                            }
                        }
                    ],
                    compact: true,
                    data: pendingOrderData,
                    "columns": [
                        { data: "challanNo" }, 						// 0
                        { data: "orderDate" },						// 1
                        { data: "customerName" },					// 2
                        { data: "customerLocation" },				// 3
                        { data: "model" },							// 4
                        { data: "part" },							// 5
                        { data: "config" },							// 6
                       	{ data: "details" },						// 7
                        { data: "qty" },							// 8
                       	{ data: "buyPrice", visible: false},		// 9
                        { data: "sellPrice", visible: false }, 		// 10 
                        { data: "courierCharges" }, 				// 11
                        { data: "orderAmount" },					// 12
                        { data: "paymentType" },					// 13
                        { data: "paymentAccName" },					// 14
                        { data: "paymentDate" },					// 15
                        { data: "salesOrderId", visible: false },	// 16
                        { data: "stockHeaderId", visible: false },	// 17
                        { data: "customerId", visible: false },		// 18
                        { data: "partId", visible: false },			// 19
                        { data: "configId", visible: false }, 		// 20
                        { data: "locationName", visible: false }, 	// 21
                        { data: "paymentAccId", visible: false }, 	// 22
                        { data: "netProfit", visible: false } 	    // 23
                    ]
                });
                $('#createCustomerModal').on('shown.bs.modal', function () {
                    $('#customerName').focus();
                });
                $("#paymentDate").datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                }).on("changeDate", function (e) {
                    $("#paymentType").focus();
                });
                $('#paymentDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $("#dataTable tbody").css("cursor", "pointer").on("click", "tr", function () {
                    selectedRow = paymentTable.row(this);
                    selectedRowData = paymentTable.row(this).data();
                    showSalesOrderUpdateModal();
                });
            });
        
        function updatedSalesOrderPaymentTypeChange() {
	        if ($("#updatedPaymentType").val() == "bank" || $("#updatedPaymentType").val() == "paytm") {
	            $("#updatedOrderRemark").removeAttr("disabled");
	        } else {
	            $("#updatedOrderRemark").val("0");
	            $("#updatedOrderRemark").attr("disabled", "disabled")
	        }
        }
        
        function initPaymentAccountData() {
            $.get("/paymentAccounts", function (res) {
                paymentAccounts = res;
                $("#updatedOrderRemark").empty();
                $("#updatedOrderRemark").append("<option selected='selected' value='0'>Select payment account</option>");
                res.forEach(paymentAccount => {
                    $("#updatedOrderRemark").append("<option value='" + paymentAccount.id + "'>" + paymentAccount.accountName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        
        function showCreateCustomerModal() {
            selectedCustomer = $("#customer").val();
            $("#customerName").val("");
            $("#customerLocation").val("");
            $("#email").val("");
            $("#contact").val("");
            $("#createOrderModal").modal("hide");
            $("#createCustomerModal").modal("show");
        }
        
        function showAccountForPaymentBtnClick() {
            $("#accountName").val("");
            $("#addAccountNameForPaymentModal").modal("show");
        }
        function paymentTypeChangeHandler() {
            if ($("#paymentType").val() == "bank") {
                $("#orderRemark").removeAttr("disabled");
            } else {
                $("#orderRemark").val("0");
                $("#orderRemark").attr("disabled", "disabled")
            }
        }
        function createAccountForPayment() {
            if ($("#accountName").val() == "") {
                $("#accountName").focus();
                return false;
            }
            var requestData = {
                "paymentAccountName": $("#accountName").val(),
                "userId": appUser.userId
            };
            $.post("/paymentAccounts", JSON.stringify(requestData), function (res) {
                initPaymentAccountResponseData(res.data);
                $("#addAccountNameForPaymentModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
            }).fail(function (res) {
                $("#addAccountNameForPaymentModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function modelOnChange() {
            if ($("#updateSalesOrderModel").val() != "0") {
                items.forEach(item => {
                    if (item.itemName == $("#updateSalesOrderModel").val()) {
                        $("#updateSalesOrderPart").empty();
                        $("#updateSalesOrderPart").append("<option value='0' selected>Select Part</option>");
                        item.parts.forEach(part => {
                            $("#updateSalesOrderPart").append("<option value='" + part.id + "'>"
                                + part.partNo + "</option>");
                        });
                        $("#updateSalesOrderPart").val(0);
                        return;
                    }
                });
            } else {
                $("#updateSalesOrderModel").focus();
                $("#updateSalesOrderPart").empty();
            }
        }
        function partNoOnChange() {
            if ($("#updateSalesOrderPart").val() != "0") {
                items.forEach(item => {
                    if (item.itemName == $("#updateSalesOrderModel").val()) {
                        item.parts.forEach(part => {
                            if (part.id == $("#updateSalesOrderPart").val()) {
                                $("#updateSalesOrderConfig").empty();
                                $("#updateSalesOrderConfig").append("<option value='0' selected>Select Configuration</option>");
                                part.configurations.forEach(config => {
                                    $("#updateSalesOrderConfig").append("<option value='" + config.id + "'>" + config.configuration + "</option>");
                                });
                                return;
                            }
                        })
                    }
                })
            } else {
                $("#updateSalesOrderPart").focus();
                $("#updateSalesOrderConfig").empty();
            }
        }

        function updateSalesOrder() {
        	
        	// here
        	if($("#updatedPaymentType").val() == 0) {
        		$("#updatedPaymentType").focus();
        		return false;
        	}
        	
        	if (($("#updatedPaymentType").val() == 'bank' || $("#updatedPaymentType").val() == 'paytm') 
        			&& $("#updatedOrderRemark").val() == 0) {
                $("#updatedOrderRemark").focus();
                return false;
            }
        	
            var requestData = {
                "orderDate": $("#updateSalesOrderOrderDate").val(),
                "customer" : $("#updateSalesOrderCustomer").val(),
                "challanNo": $("#updateSalesOrderChallanNo").val(),
                "orderAmount": $("#updateSalesOrderOrderAmount").val(),
                "userId": appUser.userId,
                "paymentType": $("#selectedSalesOrderPaymentType").val() !== $("#updatedPaymentType").val()
                	?$("#updatedPaymentType").val()
                	:null,
                "remark":$("#selectedSalesOrderPaymentType").val() !== $("#updatedPaymentType").val()
	                ?$("#updatedOrderRemark").val()
	               	:null
            };
            // console.log(JSON.stringify(requestData));
            $("#updateSalesOrderModal").modal("hide");
            $.post("/updateSalesOrders", JSON.stringify(requestData), function (res) {
                // console.log(JSON.stringify(res));
                $("#omsToast").html(res.message);
                    $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
                    paymentTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var d = this.data();
                        if (d.challanNo == res.data.challanNo) {
                            d.orderAmount = res.data.orderAmount;
                            var td = JSON.stringify(res.data.orderDate);
                            var tempDateArr = td.split("-");
                            d.orderDate = tempDateArr[2].split("\"")[0] + "-" + tempDateArr[1] + "-" + tempDateArr[0].split("\"")[1];
                            d.customerName = res.data.customer.customerName;
                            d.customerLocation = res.data.customer.location;
                            this.invalidate();
                            showOrderData();
                            return false;
                        }
                    });

            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function createCustomerBtnClick() {
            $("#createCustomerBtn").attr("disabled", "disabled")
            if ($("#customerName").val() == "") {
                $("#customerName").focus();
                $("#omsToast").html("Please enter Customer Name");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createCustomerBtn").removeAttr("disabled");
                return false;
            }
            if ($("#customerLocation").val() == "") {
                $("#customerLocation").focus();
                $("#omsToast").html("Please enter Customer Location");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createCustomerBtn").removeAttr("disabled");
                return false;
            }

            var requestData = {
                "customerName": $("#customerName").val(),
                "location": $("#customerLocation").val(),
                "email": $("#email").val(),
                "contact": $("#contact").val(),
                "userId": appUser.userId
            };
            $.post("/customers", JSON.stringify(requestData), function (res) {
                $("#createCustomerModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createCustomerBtn").removeAttr("disabled");
                initCustomerResponseData(res.data);
                $("#createOrderModal").modal("show");
                $("#customer").focus();
            }).fail(function (res) {
                $("#createCustomerModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
                $("#createCustomerBtn").removeAttr("disabled");
                $("#createOrderModal").modal("show");
            });
        }
        function showUpdatePaymentModal(initData) {
            var rowProcessed = false;
            var challanNoLabelList = new Array();
            var challanNoList = new Array();
            var totalAmountCalculated = 0;
            paymentTable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
                rowProcessed = true;
                var d = this.data();
                // console.log(JSON.stringify(d));
                challanNoList.push(d.challanNo);
                challanNoLabelList.push(" " + d.challanNo + "(" + d.orderAmount + ")");
                totalAmountCalculated += d.orderAmount;
                $("#customer").val(d.customerName);
                $("#customerId").val(d.customerId);
            });
            if (rowProcessed) {
                $("#challanNos").val(challanNoList);
                $("#challanNoslabel").val(challanNoLabelList);
                $("#totalAmount").val(totalAmountCalculated);
                $('#paymentDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $("#updatePaymentModal").modal("show");

            } else {
                $("#omsToast").html("Please select row for updating payment");
                $(".toast").addClass("bg-danger").toast("show");
            }

        }

        function showSalesOrderUpdateModal() {
            $("#updateSalesOrderChallanNo").val(selectedRowData.challanNo);
            $("#selectedSalesOrderOrderDate").val(selectedRowData.orderDate.replaceAll("-", "/"));
            $("#updateSalesOrderOrderDate").val(selectedRowData.orderDate.replaceAll("-", "/"));
            $("#selectedSalesOrderCustomer").val(selectedRowData.customerName + "(" + selectedRowData.customerLocation + ")")
            $("#updateSalesOrderCustomer").val(selectedRowData.customerName + "(" + selectedRowData.customerLocation + ")")
            $("#seletecdSalesOrderModel").val(selectedRowData.model);
            $("#updateSalesOrderModel").val(selectedRowData.model);
            modelOnChange();
            $("#selectedSalesOrderPart").val(selectedRowData.part);
            $("#updateSalesOrderPart").val(selectedRowData.partId);
            partNoOnChange();
            $("#selectedSalesOrderConfig").val(selectedRowData.config);
            $("#updateSalesOrderConfig").val(selectedRowData.configId);
            $("#selectedSalesOrderDetails").val(selectedRowData.details);
            $("#updateSalesOrderDetails").val(selectedRowData.details);
            $("#selectedSalesOrderQuantity").val(selectedRowData.qty);
            $("#updateSalesOrderQuantity").val(selectedRowData.qty);
            $("#selectedSalesOrderCourierCharges").val(selectedRowData.courierCharges);
            $("#updateSalesOrderCourierCharges").val(selectedRowData.courierCharges);
            $("#selectedSalesOrderOrderAmount").val(selectedRowData.orderAmount);
            $("#updateSalesOrderOrderAmount").val(selectedRowData.orderAmount);
            $("#selectedSalesOrderPaymentType").val(selectedRowData.paymentType);
            $("#updatedPaymentType").val(selectedRowData.paymentType);
            if ($("#updatedPaymentType").val() == "bank" || $("#updatedPaymentType").val() == "paytm") {
	            $("#updatedOrderRemark").removeAttr("disabled");
	            $("#updatedOrderRemark").val(selectedRowData.paymentAccId);
	        } else {
	            $("#updatedOrderRemark").val("0");
	            $("#updatedOrderRemark").attr("disabled", "disabled")
	        }
            $("#updateSalesOrderModal").modal("show");
        }
        function updatePayment() {
            if ($("#paymentType").val() == 0) {
                $("#paymentType").focus();
                return false;
            }
            if ($("#paymentType").val() == 'bank' && $("#orderRemark").val() == 0) {
                $("#orderRemark").focus();
                return false;
            }

            var requestData = {
                "paymentDate": $("#paymentDate").val(),
                "challanNos": $("#challanNos").val(),
                "customerId": $("#customerId").val(),
                "paymentType": $("#paymentType").val(),
                "paymentAccount": $("#orderRemark").val(),
                "amount": $("#totalAmount").val(),
                "userId": appUser.userId
            };
            $.post("/paymentIn", JSON.stringify(requestData), function (res) {
                paymentTable.rows('.selected').remove().draw();
                $("#updatePaymentModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function returnMaterial() {
            $("#updateSalesOrderModal").modal("hide");
            if (confirm("Do you want to return this oreder?")) {
                $.post("/salesOrders/return/" + selectedRowData.challanNo, function (res) {
                    $("#omsToast").html(res.message);
                    $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
                    paymentTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var d = this.data();
                        if (d.challanNo == res.data.challanNo) {
                            d.orderAmount = 0;
                            d.paymentType = res.data.paymentType;
                            d.paymentAccName = "";
                            d.paymentDate = "";
                            this.invalidate();
                            return false;
                        }
                    });
                }).fail(function (res) {
                    $("#updateSalesOrderModal").modal("hide");
                    $("#omsToast").html(JSON.parse(res.responseText).message);
                    $(".toast").addClass("bg-danger").toast("show");
                });
            } else {
                $("#updateSalesOrderModal").modal("hide");
            }
        }
        function showOrderData() {
            $.get("/salesOrders/all?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val(), function (res) {
                pendingOrderData = res.data;
                paymentTable.clear().rows.add(pendingOrderData).draw();
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }

        function initCustomerData() {
            $.get("/customers", function (res) {
                customers = res;
                initCustomerResponseData();
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function initCustomerResponseData(customer) {
            $("#customerData").empty();
            if (customer) {
                customers.push(customer);
                $("#updateSalesOrderCustomer").val(customer.customerName+"("+customer.location+")");
            }
            customers.forEach(customer => {
                    $("#customerData").append("<option value='" + customer.customerName + "(" + customer.location + ")"
                        + "' customerId='" + customer.id + "'></option>");
                });
            return;
        }
        function initModelData() {
            $.get("/items", function (res) {
                items = res;
                initModelResponseData();
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function initModelResponseData(model) {
            $("#modelData").empty();
            items.forEach(item => {
                $("#modelData").append("<option value='" + item.itemName + "' itemid='" + item.id + "'></option>");
            });
        }
        function initData() {
            $.get("/salesOrders/all?fromDate=" + $("#fromDate").val() + "&toDate=" + $("#toDate").val(), function (res) {
                pendingOrderData = res.data;
                // console.log(pendingOrderData);
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });

            initCustomerData();
            //initModelData();
        }
    </script>
</head>

<body>
	<div class="mt-0">
		<div class="p-2 input-group"
			style="border: 1px; background-color: #C4DDFF;">
			<label class="p-2 pb-0" for="boxNo">From Date</label> <input
				type="text" style="max-width: 100px;" readonly class="form-control"
				id="fromDate"> <label class="p-2 pb-0" for="boxNo">To
				Date</label> <input type="text" style="max-width: 100px;" readonly
				class="form-control" id="toDate">
			<button type="button" class="btn btn-secondary"
				id="showOrederDataBtn">Show</button>
		</div>
		<div style="margin: 2px;">
			<table id="dataTable" style="width: 100%; font-size: 11px;"
				class="display cell-border">
				<caption></caption>
				<thead>
					<tr>
						<th class="th-sm" style="max-width: 40px;">Challan</th>
						<th class="th-sm" style="max-width: 55px;">Order Date</th>
						<th class="th-sm">Customer</th>
						<th class="th-sm">Location</th>
						<th class="th-sm">Model</th>
						<th class="th-sm">Part</th>
						<th class="th-sm">Config</th>
						<th class="th-sm" style="max-width: 35px;">Details</th>
						<th class="th-sm" style="max-width: 20px;">Qty</th>
						<th class="th-sm">Buy Price</th>
						<th class="th-sm">Sell Price</th>
						<th class="th-sm" style="max-width: 40px;">Courier Charges</th>
						<th class="th-sm" style="max-width: 40px;">Order Amt</th>
						<th class="th-sm" style="max-width: 40px;">P.Type</th>
						<th class="th-sm">P. Acc Name</th>
						<th class="th-sm" style="max-width: 55px;">P. Date</th>
						<th class="th-sm">SalesOrderId</th>
						<th class="th-sm">StockHeaderId</th>
						<th class="th-sm">CustomerId</th>
						<th class="th-sm">Part Id</th>
						<th class="th-sm">configId</th>
						<th class="th-sm">Storage Location</th>
                        <th class="th-sm">&nbsp;</th>
                        <th class="th-sm">Net Profit</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="modal fade" id="updatePaymentModal"
		data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Payment</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Payment
							Date</span> <input type="text" readonly class="form-control"
							id="paymentDate">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Customer</span>
						<input disabled type="text" class="form-control" id="customer"
							aria-label="customer" aria-describedby="customer">
					</div>
					<div class="input-group mb-0">
						<input hidden disabled type="text" id="customerId">
					</div>
					<div class="input-group mb-0">
						<input hidden disabled type="text" class="form-control"
							id="challanNos" aria-label="challanNos"
							aria-describedby="challanNos">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Challan</span>
						<input disabled type="text" class="form-control"
							id="challanNoslabel" aria-label="challanNoslabel"
							aria-describedby="challanNoslabel">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Total
							Amount</span> <input disabled type="text" class="form-control"
							id="totalAmount" aria-label="totalAmount"
							aria-describedby="totalAmount">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Payment
							Type</span> <select class="form-control" id="paymentType"
							style="max-width: 160px;">
							<option value="0">Select Payment Type</option>
							<option value="cash">Cash</option>
							<option value="vpp">VPP</option>
							<option value="paytm">Paytm</option>
							<option value="bank">Bank</option>
						</select> <span class="input-group-text"
							style="width: 130px; text-align: right; display: block;">Account
							Name</span> <select class="form-control" id="orderRemark" disabled>
						</select>
						<button type="button" class="btn btn-secondary" tabindex="-1"
							data-bs-toggle="tooltip" data-bs-placement="top"
							id="showAccountForPaymentModalBtn" title="Add Account">+</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-secondary" id="updateOrderBtn"
						data-bs-dismiss="modal">Update Order</button>
					<button type="button" id="updatePaymentBtn" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addAccountNameForPaymentModal"
		data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Create
						Account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-3">
						<span class="input-group-text">Account Name</span> <input
							autocomplete="off" type="text" class="form-control"
							id="accountName" placeholder="Account Name"
							aria-label="accountName" aria-describedby="accountName">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" id="createAccountBtn" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="salesOrderOptionModal"
		data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Select Option</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-0" style="display: none;">
						<span class="input-group-text">stockHeaderId</span> <input
							type="text" disabled="disabled" class="form-control"
							id="stockHeaderId">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="updateSalesOrderModal"
		data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Return</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Challan
							No</span> <input type="text" readonly class="form-control"
							style="width: 600px;" id="updateSalesOrderChallanNo">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Order
							Date</span> <input type="text" readonly class="form-control" style="width: 205px;"
							id="selectedSalesOrderOrderDate"> <input type="text" style="width: 350px;"
							readonly class="form-control" id="updateSalesOrderOrderDate">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Customer</span>
						<input disabled type="text" class="form-control" style="width: 240px;"
							id="selectedSalesOrderCustomer" aria-label="customer"
							aria-describedby="customer"> <input class="form-control"
							 list="customerData" style="width: 350px;"
							id="updateSalesOrderCustomer" placeholder="Search Customer...">
						<datalist id="customerData">
						</datalist>
						<button type="button" class="btn btn-secondary" tabindex="-1"
							data-bs-toggle="tooltip" data-bs-placement="top"
							id="showCustomerModalBtn" title="Add new Customer">+</button>
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Model</span>
						<input type="text" readonly class="form-control"
							id="seletecdSalesOrderModel">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Part</span>
						<input type="text" readonly class="form-control"
							id="selectedSalesOrderPart">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Config</span>
						<input type="text" readonly class="form-control"
							id="selectedSalesOrderConfig">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Details</span>
						<input type="text" readonly class="form-control"
							id="selectedSalesOrderDetails">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Quantity</span>
						<input type="text" readonly class="form-control"
							id="selectedSalesOrderQuantity">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Courier
							Charges</span> <input type="text" readonly class="form-control"
							id="selectedSalesOrderCourierCharges">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Order
							Amount</span> <input type="text" readonly class="form-control" style="width: 100px;"
							id="selectedSalesOrderOrderAmount"> <input type="text" style="width: 500px;"
							class="form-control" id="updateSalesOrderOrderAmount">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Payment
							Type</span> <input type="text" readonly class="form-control" style="min-width: 114px; max-width: 114px;"
							id="selectedSalesOrderPaymentType"> <select
							class="form-control" id="updatedPaymentType"
							style="min-width: 150px;max-width: 150px;">
							<option value="0">Select Payment Type</option>
							<option value="cash">Cash</option>
							<option value="vpp">VPP</option>
							<option value="paytm">Paytm</option>
							<option value="bank">Bank</option>
							<option value="pending">Pending</option>
						</select> <span class="input-group-text"
							style="width: 130px; text-align: right; display: block;">Account
							Name</span> 
							<select class="form-control" id="updatedOrderRemark" disabled>
						</select>
					</div>
					<div class="input-group mb-0">
						<input hidden disabled type="text" id="customerId">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" id="updateSalesOrderModalBtn"
						class="btn btn-primary pe-2 me-2">Update Order</button>
					<button type="button" id="returnMaterialBtn"
						class="btn btn-primary">Return</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="createCustomerModal"
		data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Create
						Customer</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Customer
							Name</span> <input autocomplete="off" type="text" class="form-control"
							id="customerName">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Location</span>
						<input autocomplete="off" type="text" class="form-control"
							id="customerLocation">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Email</span>
						<input autocomplete="off" type="email" class="form-control"
							id="email">
					</div>
					<div class="input-group mb-0">
						<span class="input-group-text"
							style="width: 140px; text-align: right; display: block;">Contact</span>
						<input autocomplete="off" type="text" class="form-control"
							id="contact">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
					<button type="button" id="createCustomerBtn"
						class="btn btn-primary">Create Customer</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>