<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		$("#statusMsg").html("");
		$("#createUnitBtn").click(function() {
			$("#createUnitBtn").prop("disabled", true);
			
			const unitCodeVal = $("#unitCode").val();
			const unitNameVal = $("#unitName").val();

			if (undefined == unitNameVal || unitNameVal == "") {
				$("#statusMsg").html("Enter valid Unit Name");
				$("#unitName").focus();
				$("#createUnitBtn").prop("disabled", false);
				return;
			}
			
			if (undefined == unitCodeVal || unitCodeVal == "") {
				$("#statusMsg").html("Enter valid Unit Code");
				$("#unitCode").focus();
				$("#createUnitBtn").prop("disabled", false);
				return;
			}
			$("#statusMsg").html("");
			const reqObj = {"unitName" : unitNameVal, "unitCode" : unitCodeVal}

			$.post("/units", JSON.stringify(reqObj), function(res) {
					$("#omsToast").html(res.message);
					$('.toast').removeClass('bg-danger').addClass('bg-success').toast('show');
				}).fail(function(res) {
					$("#omsToast").html(JSON.parse(res.responseText).message);
					$('.toast').addClass('bg-danger').toast('show');
				});
			$("#createUnitBtn").prop("disabled", false);
			});
		});
</script>
</head>
<body>
	<div class="card m-3" style="min-height: 400px;">
		<div class="card-body">
			<div class="mb-1">
				<label for="unitName" class="mb-0">Unit Name</label> <input
					class="form-control" id="unitName" placeholder="Unit Name">
			</div>
			<div class="mb-1">
				<label for="unitCode" class="form-label mb-0">Unit
					Code</label> <input class="form-control" id="unitCode"
					placeholder="Unit Code">
			</div>
			<button type="button" id="createUnitBtn"
				class="btn btn-primary mt-1">Create Unit</button>
		</div>
	</div>
</body>
</html>
