<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		submenuNav("/createUnitPage");
	});
	function submenuNav(menupath) {
		$("#unitDiv").html("Loading...");
		$(".nav .nav-link").on("click", function() {
			$(".nav").find(".active").removeClass("active");
			$(this).addClass("active");
		});
		$("#unitDiv").load(menupath);
	}
</script>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active"
				id="createUnitId" aria-current="page"
				onclick='submenuNav("/createUnitPage")' href="#">Create
					Unit</a></li>
			<li class="nav-item"><a class="nav-link" id="updateUnitId"
				onclick='submenuNav("/updateUnitPage")' href="#">Update
					Unit</a></li>
		</ul>
		<div id="unitDiv"></div>
	</div>
</body>
</html>
