<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .dataTables_wrapper .dataTables_filter {
            float: left;
            /* padding-bottom: 5px; */
        }

        .dataTables_length {
            display: none;
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            //initPage();
            initLocationData();
            initModelData();
            $("#boxNo").focus();
            var table = $('#dataTable').DataTable({
                // paging: false,
                // scrollY: 420,
                // info: false
            });
            $("#addBoxBtn").click(addNewBox);
            $("#addModelBtn").click(addNewModel);
            $("#addPartBtn").click(addNewPart);
            $("#createBoxBtn").click(createBoxBtn);
            $("#createModelBtn").click(createModelBtn);
            $("#createPartBtn").click(createPartBtn);
            $("#addStockBtn").click(() => {
                if (validateFields()) {
                    savaData();
                }
                return false;
            })
            $("#clearFieldsBtn").click(() => {
                initFields();
            })
            $('#dataTable tbody').css("cursor", "pointer").on('click', 'tr', function () {
                var data = table.row(this).data();
                $("#boxNo").val(data[0]);
                $("#model").val(data[1]);
                $("#partNo").val(data[2]);
                $("#qty").val(data[3]);
                enableClearFieldButton();
            });
        });
        function createBoxBtn() {
            $("#createBoxBtn").attr("disabled", "disabled")
            if ($("#boxName").val() == "") {
                $("#boxName").focus();
                $("#omsToast").html("Please enter box no.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "storageLocation": $("#boxName").val()
            };
            $.post("/storageLocations", JSON.stringify(requestData), function (res) {
                $('#stockAddBoxModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
            }).fail(function (res) {
                $('#stockAddBoxModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
            });
        }

        function createModelBtn() {
            $("#createModelBtn").attr("disabled", "disabled")
            if ($("#modelName").val() == "") {
                $("#modelName").focus();
                $("#omsToast").html("Please enter Model name.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createModelBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#modelName").val()
            };
            $.post("/items", JSON.stringify(requestData), function (res) {
                $('#stockAddModelModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
            }).fail(function (res) {
                $('#stockAddModelModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
            });
        }

        function createPartBtn() {
            $("#createPartBtn").attr("disabled", "disabled")
            if ($("#modelForPart").val() == "") {
                $("#modelForPart").focus();
                $("#omsToast").html("Please select Model name.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createPartBtn").removeAttr("disabled");
                return false;
            }
            if ($("#partName").val() == "") {
                $("#partName").focus();
                $("#omsToast").html("Please enter part no.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createPartBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#modelForPart").val(),
                "partNo": $("#partName").val()
            };
            $.post("/items", JSON.stringify(requestData), function (res) {
                $('#stockAddPartModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createPartBtn").removeAttr("disabled");
            }).fail(function (res) {
                $('#stockAddPartModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createPartBtn").removeAttr("disabled");
            });
        }

        function addNewBox() {
            $("#stockAddBoxModal").modal("show");
            $("#boxName").val("");
            $("#boxName").focus();
        }
        function addNewModel() {
            $("#stockAddModelModal").modal("show");
            $("#modelName").val("");
            $("#modelName").focus();
        }
        function addNewPart() {
            $("#stockAddPartModal").modal("show");
            // $("#modelForPart").val("");
            $("#modelForPart").focus();
        }

        function initLocationData() {
            $.get("/storageLocations", function (res) {
                res.forEach(element => {
                    $("#boxNoOptions").append("<option value='" + element.locationName + "'>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
            });
        }

        function initModelData() {
            $.get("/items", function (res) {
                res.forEach(element => {
                    $("#modelOptions").append("<option value='" + element.itemName + "'>");
                    $("#modelOptionsForPart").append("<option value='" + element.itemName + "'>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
            });
        }
    </script>
</head>

<body style="overflow: hidden;">
    <div class="row" style="width: 100%;">
        <div class="col-3 pt-2">
            <div class="mb-1 ps-2">
                <label class="p-1 pb-0" for="boxNo">Box</label>
                <div class="input-group">
                    <input class="form-control" list="boxNoOptions" id="boxNo" placeholder="Select Box No">
                    <datalist id="boxNoOptions"></datalist>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addBoxBtn" title="Add new Box">+</button>
                </div>
            </div>
            <div class="mb-1 ps-2">
                <label for="model" class="p-1 pb-0">Motherboard Model</label>
                <div class="input-group">
                    <input class="form-control" list="modelOptions" id="model" placeholder="Select model">
                    <datalist id="modelOptions"></datalist>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addModelBtn" title="Add new Model">+</button>
                </div>
            </div>
            <div class="mb-1 ps-2">
                <label for="partNo" class="p-1 pb-0">Part</label>
                <div class="input-group">
                    <input class="form-control" list="partNoOptions" id="partNo" placeholder="Select Part No">
                    <datalist id="partNoOptions">
                        <option value="Part no 1">
                        <option value="Part no 2">
                        <option value="Part no 3">
                    </datalist>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addPartBtn" title="Add new Part">+</button>
                </div>
            </div>
            <div class="mb-3 ps-2">
                <label for="qty" class="p-1 pb-0">Quantity</label>
                <input type="text" class="form-control" aria-label="qty" id="qty">
            </div>
            <div class="ps-2">
                <button type="button" style="width: 100%;" id="addStockBtn" class="btn btn-primary">Add</button>
            </div>
            <div class="ps-2 pt-2">
                <button type="button" style="width: 100%;" disabled id="clearFieldsBtn"
                    class="btn btn-secondary">Clear</button>
            </div>
        </div>
        <div class="col mt-4">
            <table id="dataTable" style="width: 100%;" class="display">
                <caption></caption>
                <thead>
                    <tr>
                        <th class="th-sm">Box No
                        </th>
                        <th class="th-sm">Motherboard Model
                        </th>
                        <th class="th-sm">Part No
                        </th>
                        <th class="th-sm">Quantity
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                    </tr>
                    <tr>
                        <td>Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <td>Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                    </tr>
                    <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Marshall</td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>36</td>
                    </tr>
                    <tr>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td>London</td>
                        <td>43</td>
                    </tr>
                    <tr>
                        <td>Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td>London</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <td>Paul Byrd</td>
                        <td>Chief Financial Officer (CFO)</td>
                        <td>New York</td>
                        <td>64</td>
                    </tr>
                    <tr>
                        <td>Gloria Little</td>
                        <td>Systems Administrator</td>
                        <td>New York</td>
                        <td>59</td>
                    </tr>
                    <tr>
                        <td>Bradley Greer</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>Dai Rios</td>
                        <td>Personnel Lead</td>
                        <td>Edinburgh</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>Caldwell</td>
                        <td>Development Lead</td>
                        <td>New York</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Yuri Berry</td>
                        <td>Chief Marketing Officer (CMO)</td>
                        <td>New York</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Caesar Vance</td>
                        <td>Pre-Sales Support</td>
                        <td>New York</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Doris Wilder</td>
                        <td>Sales Assistant</td>
                        <td>Sidney</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>Angelica Ramos</td>
                        <td>Chief Executive Officer (CEO)</td>
                        <td>London</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td>Gavin Joyce</td>
                        <td>Developer</td>
                        <td>Edinburgh</td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td>Jennifer Chang</td>
                        <td>Regional Director</td>
                        <td>Singapore</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Wagner</td>
                        <td>Software Engineer</td>
                        <td>San Francisco</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>San Francisco</td>
                        <td>48</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="stockAddBoxModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Box</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Box Name</span>
                        <input type="text" class="form-control" id="boxName" placeholder="Box Name" aria-label="boxName"
                            aria-describedby="boxName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createBoxBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddModelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Model</span>
                        <input type="text" class="form-control" id="modelName" placeholder="Model Name"
                            aria-label="modelName" aria-describedby="modelName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createModelBtn" class="btn btn-primary">Create Model</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddPartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="model" class="p-1 pb-0">Motherboard Model</label>
                        <div class="input-group">
                            <input class="form-control" list="modelOptionsForPart" id="modelForPart"
                                placeholder="Select model">
                            <datalist id="modelOptionsForPart"></datalist>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Part no</span>
                        <input type="text" class="form-control" id="partName" placeholder="Part Name"
                            aria-label="partName" aria-describedby="partName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createPartBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>