<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .dataTables_wrapper .dataTables_filter {
            float: left;
            /* padding-bottom: 5px; */
        }

        .dataTables_length {
            display: none;
            cursor: pointer;
        }
    </style>
    <script>
        var items = new Array();
        var stockData = new Array();
        var table;
        var vendors;
        $(document).ready(function () {
            initPage();
            $(".numberOnly").keypress(numberOnly);
            $("#boxNo").focus();

            table = $("#dataTable").DataTable({
                // paging: false,
                // scrollY: 420,
                // info: false
                data: stockData,
                "columns": [
                    { data: "box" },
                    { data: "model" },
                    { data: "part" },
                    { data: "configuration" },
                    { data: "details" },
                    { data: "qty" },
                    { data: "buyPrice" },
                    { data: "sellPrice" },
                    { data: "id", visible: false }
                ]
            });

            $("#addBoxBtn").click(addNewBox);
            $("#addVendorBtn").click(addNewVendor);
            $("#addModelBtn").click(addNewModel);
            $("#addPartBtn").click(addNewPart);
            $("#addConfigBtn").click(addNewConfig);
            $("#createBoxBtn").click(createBoxBtnClick);
            $("#createModelBtn").click(createModelBtnClick);
            $("#createPartBtn").click(createPartBtnClick);
            $("#createVendorBtn").click(createVendorBtnClick);
            $("#createConfigBtn").click(createConfigBtnClick);
            $("#model").change(modelOnChange);
            $("#partNo").change(partNoOnChange);
            $("#addStockBtn").click(() => {
                if (validateFields()) {
                    savaData();
                }
                return false;
            });
            $("#clearFieldsBtn").click(() => {
                initFields();
            });
            $("#dataTable tbody").css("cursor", "pointer").on("click", "tr", function () {
                var data = table.row(this).data();
                $("#boxNo").val(data[0]);
                $("#model").val(data[1]);
                $("#partNo").val(data[2]);
                $("#qty").val(data[3]);
                enableClearFieldButton();
            });
        });
        function initPage() {
            initLocationData();
            initModelData();
            initStockData();
        }

        function savaData() {
            var requestData = {
                "boxId": $("#boxNo").val(),
                "modelId": $("#model").val(),
                "partId": $("#partNo").val(),
                "configId": $("#config").val(),
                "details": $("#details").val(),
                "qty": $("#qty").val(),
                "buyPrice": $("#buyPrice").val(),
                "sellPrice": $("#sellPrice").val(),
                "vendor": $("#vendor").val()
            };

            $.post("/stock", JSON.stringify(requestData), function (res) {
                stockData = res.data;
                //initStockData();

                table.row.add({ "id": 121, "box": "G1", "model": "AA", "part": "CC", "configuration": "A", "details": "AM", "qty": 11, "buyPrice": 0, "sellPrice": 0 }).draw(false);

                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });

        }
        function validateFields() {
            if ($("#boxNo").val() == "0") {
                $("#boxNo").focus();
                return false;
            }
            if ($("#model").val() == "0") {
                $("#model").focus();
                return false;
            }
            if ($("#partNo").val() == "0") {
                $("#partNo").focus();
                return false;
            }
            if ($("#config").val() == "0") {
                $("#config").focus();
                return false;
            }
            if ($("#qty").val() == "" || $("#qty").val() == 0) {
                $("#qty").focus();
                return false;
            }
            return true;
        }

        function modelOnChange() {
            if ($("#model").val() != "0") {
                items.forEach(item => {
                    if (item.id == $("#model").val()) {
                        $("#partNo").empty();
                        $("#partNo").append("<option value='0' selected>Select Part</option>");
                        item.parts.forEach(element => {
                            $("#partNo").append("<option value='" + element.id + "'>"
                                + element.partNo + "</option>");
                        });
                        return;
                    }
                });
            } else {
                $("#model").focus();
                $("#partNo").empty();
            }
        }
        function partNoOnChange() {
            if ($("#partNo").val() != "0") {
                items.forEach(item => {
                    if (item.id == $("#model").val()) {
                        item.parts.forEach(part => {
                            if (part.id == $("#partNo").val()) {
                                $("#config").empty();
                                $("#config").append("<option value='0' selected>Select Configuration</option>");
                                part.configurations.forEach(config => {
                                    $("#config").append("<option value='" + config.id + "'>" + config.configuration + "</option>");
                                });
                                return;
                            }
                        })
                    }
                })
            } else {
                $("#partNo").focus();
                $("#config").empty();
            }
        }

        function createBoxBtnClick() {
            $("#createBoxBtn").attr("disabled", "disabled")
            if ($("#boxName").val() == "") {
                $("#boxName").focus();
                $("#omsToast").html("Please enter box no.");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createBoxBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "storageLocation": $("#boxName").val()
            };
            $.post("/storageLocations", JSON.stringify(requestData), function (res) {
                $("#stockAddBoxModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createBoxBtn").removeAttr("disabled");
                initPage();
            }).fail(function (res) {
                $("#stockAddBoxModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
                $("#createBoxBtn").removeAttr("disabled");
            });
        }
        function createModelBtnClick() {
            $("#createModelBtn").attr("disabled", "disabled")
            if ($("#modelName").val() == "") {
                $("#modelName").focus();
                $("#omsToast").html("Please enter Model name.");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createModelBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#modelName").val()
            };
            $.post("/items", JSON.stringify(requestData), function (res) {
                $("#stockAddModelModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createModelBtn").removeAttr("disabled");
                items.push(res.data);
                initModelResponseData(res.data);
            }).fail(function (res) {
                $("#stockAddModelModal").modal("hide");
                $("#createModelBtn").removeAttr("disabled");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function createPartBtnClick() {
            $("#createPartBtn").attr("disabled", "disabled")
            if ($("#partName").val() == "") {
                $("#partName").focus();
                $("#omsToast").html("Please enter part no.");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createPartBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemId": $("#model").val(),
                "partNo": $("#partName").val()
            };
            $.post("/parts", JSON.stringify(requestData), function (res) {
                $("#stockAddPartModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createPartBtn").removeAttr("disabled");
                initPartResponseData(res.data);
                $("#config").focus();
            }).fail(function (res) {
                $("#stockAddPartModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
                $("#createPartBtn").removeAttr("disabled");
            });
        }
        function createConfigBtnClick() {
            $("#createConfigBtn").attr("disabled", "disabled")
            if ($("#configName").val() == "") {
                $("#configName").focus();
                $("#omsToast").html("Please enter Configuration");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemId": $("#model").val(),
                "partId": $("#partNo").val(),
                "configDetails": $("#configName").val()
            };
            $.post("/configs", JSON.stringify(requestData), function (res) {
                $("#stockAddConfigModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
                initConfigResponseData(res.data);
                $("#details").focus();
            }).fail(function (res) {
                $("#stockAddConfigModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
            });
        }
        function createVendorBtnClick() {
            $("#createVendorBtn").attr("disabled", "disabled")
            if ($("#vendorName").val() == "") {
                $("#vendorName").focus();
                $("#omsToast").html("Please enter Vendor Name");
                $(".toast").removeClass("bg-danger").removeClass("bg-success").addClass("bg-warning").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "vendorName": $("#vendorName").val()
            };
            $.post("/vendors", JSON.stringify(requestData), function (res) {
                $("#stockAddConfigModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").removeClass("bg-warning").addClass("bg-success").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
                initVendorResponseData(res.data);
                $("#model").focus();
            }).fail(function (res) {
                $("#stockAddConfigModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
                $("#createConfigBtn").removeAttr("disabled");
            });
        }
        function addNewBox() {
            $("#stockAddBoxModal").modal("show");
            $("#boxName").val("");
            $("#boxName").focus();
        }
        function addNewVendor() {
            $("#addVendorModal").modal("show");
            $("#boxName").val("");
            $("#boxName").focus();
        }
        function addNewModel() {
            $("#stockAddModelModal").modal("show");
            $("#modelName").val("");
            $("#modelName").focus();
        }
        function addNewPart() {
            if ($("#model").val() != "0") {
                $("#stockAddPartModal").modal("show");
                $("#modelForPart").val($("#model option:selected").text());
                $("#modelForPart").focus();
            } else {
                $("#omsToast").html("Please select model.");
                $(".toast").addClass("bg-warning").toast("show");
            }
        }
        function addNewConfig() {
            if (null != $("#partNo").val() && $("#partNo").val() != "0") {
                $("#stockAddConfigModal").modal("show");
                $("#partForConfiguration").val($("#partNo  option:selected").text());
                $("#partForConfiguration").focus();
            } else {
                $("#omsToast").html("Please select Part No.");
                $(".toast").addClass("bg-warning").toast("show");
            }
        }

        function initVendorData() {
            $.get("/vendors", function (res) {
                vendors = res;
                $("#vendor").empty();
                $("#vendor").append("<option selected='selected' value='0'>Select Vendor</option>");
                vendors.forEach(vendor => {
                    $("#vendor").append("<option value='" + vendor.id + "'>" + vendor.vendorName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function initLocationData() {
            $.get("/storageLocations", function (res) {
                $("#boxNo").empty();
                $("#boxNo").append("<option selected='selected' value='0'>Select box</option>");
                res.forEach(element => {
                    $("#boxNo").append("<option value='" + element.id + "'>" + element.locationName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function initModelData() {
            $.get("/items", function (res) {
                items = res;
                initModelResponseData();
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function initStockData() {
            $.get("/stock", function (res) {
                stockData = res;
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }

        function initModelResponseData(ele) {
            $("#model").empty();
            $("#model").append("<option value='0' selected>Select model</option>");
            items.forEach(element => {
                $("#model").append("<option value='" + element.id + "'>" + element.itemName + "</option>");
            });
            if (ele) {
                $("#model").val(ele.id);
            }
        }
        function initPartResponseData(ele) {
            items.forEach(item => {
                if ($("#model").val() == item.id) {
                    item.parts.push(ele);
                    $("#partNo").empty();
                    $("#partNo").append("<option value='0' selected>Select Part No</option>");
                    item.parts.forEach(part => {
                        $("#partNo").append("<option value='" + part.id + "'>" + part.partNo + "</option>");
                    });
                    if (ele) {
                        $("#partNo").val(ele.id);
                    }
                    return;
                }
            });
        }
        function initConfigResponseData(ele) {
            items.forEach(item => {
                if ($("#model").val() == item.id) {
                    item.parts.forEach(part => {
                        if ($("#partNo").val() == part.id) {
                            part.configurations.push(ele);
                            $("#config").empty();
                            $("#config").append("<option value='0' selected>Select Configuration</option>");
                            part.configurations.forEach(config => {
                                $("#config").append("<option value='" + config.id + "'>" + config.configuration + "</option>");
                            });
                            if (ele) {
                                $("#config").val(ele.id);
                            }
                            return;
                        }
                    });
                }
            });
        }
        function initVendorResponseData(vendor) {
            vendors.push(vendor);
            // $("#vendor").empty();
            // $("#vendor").append("<option value='0' selected>Select Configuration</option>");
            // part.configurations.forEach(config => {
            //     $("#vendor").append("<option value='" + config.id + "'>" + config.configuration + "</option>");
            // });
            if (vendor) {
                $("#vendor").append("<option value='" + vendor.id + "' selected>" + vendor.vendorName + "</option>");
                $("#vendor").val(vendor.id);
            }
            return;
        }
    </script>
</head>

<body style="overflow: hidden;">
    <div class="row" style="width: 100%;">
        <div class="pt-2" style="width: 250px;">
            <div class="mb-1 ps-2">
                <label class="p-1 pb-0" for="boxNo">Box</label>
                <div class="input-group">
                    <select class="form-control" id="boxNo"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addBoxBtn" title="Add new Box">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="vendor" class="p-1 pb-0">Vendor</label>
                <div class="input-group">
                    <select class="form-control" id="vendor"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addVendorBtn" title="Add new Vendor">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="model" class="p-1 pb-0">Motherboard Model</label>
                <div class="input-group">
                    <select class="form-control" id="model"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addModelBtn" title="Add new Model">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="partNo" class="p-1 pb-0">Part</label>
                <div class="input-group">
                    <select class="form-control" id="partNo"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addPartBtn" title="Add new Part">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="config" class="p-1 pb-0">Configuration</label>
                <div class="input-group">
                    <select class="form-control" id="config"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addConfigBtn" title="Add new Configuration">+</button>
                </div>
            </div>
            <div class="row" style="padding-left: 12px;">
                <div class="col mb-1 ps-2">
                    <label for="details" class="p-1 pb-0">Details</label>
                    <div class="input-group">
                        <select class="form-control" id="details">
                            <option>GM</option>
                            <option>PM</option>
                        </select>
                    </div>
                </div>
                <div class="col ps-2 mb-1">
                    <label for="qty" class="p-1 pb-0">Quantity</label>
                    <input autocomplete="off" required type="number" class="form-control numberOnly" aria-label="qty"
                        id="qty">
                    <div class="invalid-tooltip">
                        Please enter quantity
                    </div>
                </div>
            </div>
            <div class="row mb-1" style="padding-left: 12px;">
                <div class="col ps-2">
                    <label for="qty" class="p-1 pb-0">Buy Price</label>
                    <input autocomplete="off" type="text" class="form-control numberOnly" aria-label="qty"
                        id="buyPrice">
                </div>
                <div class="col ps-2">
                    <label for="qty" class="p-1 pb-0">Sell Price</label>
                    <input autocomplete="off" type="text" class="form-control numberOnly" aria-label="qty"
                        id="sellPrice">
                </div>
            </div>
            <!-- <div class="row mt-2" style="padding-left: 12px;"> -->
            <div class="ps-2 mt-3">
                <button type="button" style="width: 100%;" id="addStockBtn" class="btn btn-primary">Add</button>
            </div>
            <div class="ps-2 mt-2">
                <button type="button" style="width: 100%;" disabled id="clearFieldsBtn"
                    class="btn btn-secondary">Clear</button>
            </div>
            <!-- </div> -->
        </div>
        <div class="col mt-4">
            <table id="dataTable" style="width: 100%;" class="display">
                <thead>
                    <tr>
                        <th class="th-sm">Box No</th>
                        <th class="th-sm">Model</th>
                        <th class="th-sm">Part No</th>
                        <th class="th-sm">Configuration</th>
                        <th class="th-sm">Details</th>
                        <th class="th-sm">Quantity</th>
                        <th class="th-sm">Buy Price</th>
                        <th class="th-sm">Sell Price</th>
                        <!-- <th class="th-sm">Vendor</th> -->
                        <th class="th-sm">Id</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="modal fade" id="addVendorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Vendor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Vendor Name</span>
                        <input type="text" class="form-control" id="vendorName" placeholder="Vendor Name"
                            aria-label="vendorName" aria-describedby="vendorName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createVendorBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddBoxModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Box</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Box Name</span>
                        <input type="text" class="form-control" id="boxName" placeholder="Box Name" aria-label="boxName"
                            aria-describedby="boxName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createBoxBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddModelModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Model</span>
                        <input autocomplete="off" type="text" class="form-control" id="modelName"
                            placeholder="Model Name" aria-label="modelName" aria-describedby="modelName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createModelBtn" class="btn btn-primary">Create Model</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddPartModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="model" class="p-1 pb-0">Motherboard Model</label>
                        <div class="input-group">
                            <input type="text" disabled="disabled" class="form-control" id="modelForPart">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Part no</span>
                        <input type="text" class="form-control" id="partName" placeholder="Part Name" autocomplete="off"
                            aria-label="partName" aria-describedby="partName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createPartBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddConfigModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Configuration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="model" class="p-1 pb-0">Part No</label>
                        <div class="input-group">
                            <input type="text" disabled="disabled" class="form-control" id="partForConfiguration">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Configuration</span>
                        <input type="text" class="form-control" id="configName" placeholder="Configuration"
                            autocomplete="off" aria-label="configName" aria-describedby="configName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createConfigBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>