<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .dataTables_wrapper .dataTables_filter {
            float: left;
            /* padding-bottom: 5px; */
        }

        .dataTables_length {
            display: none;
            cursor: pointer;
        }
    </style>
    <script>
        var items = new Array();
        $(document).ready(function () {
            initPage();
            $("#boxNo").focus();
            var table = $('#dataTable').DataTable({
                // paging: false,
                // scrollY: 420,
                // info: false
            });
            $("#addBoxBtn").click(addNewBox);
            $("#addModelBtn").click(addNewModel);
            $("#addPartBtn").click(addNewPart);
            $("#addConfigBtn").click(addNewConfig);
            $("#createBoxBtn").click(createBoxBtnClick);
            $("#createModelBtn").click(createModelBtnClick);
            $("#createPartBtn").click(createPartBtnClick);
            $("#createConfigBtn").click(createConfigBtnClick);
            $('#model').change(modelOnChange);
            $("#addStockBtn").click(() => {
                if (validateFields()) {
                    savaData();
                }
                return false;
            })
            $("#clearFieldsBtn").click(() => {
                initFields();
            })
            $('#dataTable tbody').css("cursor", "pointer").on('click', 'tr', function () {
                var data = table.row(this).data();
                $("#boxNo").val(data[0]);
                $("#model").val(data[1]);
                $("#partNo").val(data[2]);
                $("#qty").val(data[3]);
                enableClearFieldButton();
            });
        });
        function initPage() {
            initLocationData();
            initModelData();
        }

        function modelOnChange() {
            if ($('#model').val() != "0") {
                items.forEach(item => {
                    if (item.itemName == $('#model').val()) {
                        $("#partNo").empty();
                        $("#partNo").append("<option value='0' selected>Select Part</option>");
                        item.parts.forEach(element => {
                            $("#partNo").append("<option value='" + element.partNo + "'>" + element.partNo + "</option>");
                        });
                    }
                })
            } else {
                $("#model").focus();
                $("#partNo").empty();
                $("#omsToast").html("Please select model");
                $('.toast').addClass('bg-warning').toast('show');
            }
        }

        function createBoxBtnClick() {
            $("#createBoxBtn").attr("disabled", "disabled")
            if ($("#boxName").val() == "") {
                $("#boxName").focus();
                $("#omsToast").html("Please enter box no.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "storageLocation": $("#boxName").val()
            };
            $.post("/storageLocations", JSON.stringify(requestData), function (res) {
                $('#stockAddBoxModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
                initPage();
            }).fail(function (res) {
                $('#stockAddBoxModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createBoxBtn").removeAttr("disabled");
            });
        }
        function createModelBtnClick() {
            $("#createModelBtn").attr("disabled", "disabled")
            if ($("#modelName").val() == "") {
                $("#modelName").focus();
                $("#omsToast").html("Please enter Model name.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createModelBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#modelName").val()
            };
            $.post("/items", JSON.stringify(requestData), function (res) {
                $('#stockAddModelModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createModelBtn").removeAttr("disabled");
                initPage();
            }).fail(function (res) {
                $('#stockAddModelModal').modal('hide');
                $("#createModelBtn").removeAttr("disabled");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
            });
        }
        function createPartBtnClick() {
            $("#createPartBtn").attr("disabled", "disabled")
            if ($("#modelForPart").val() == "") {
                $("#modelForPart").focus();
                $("#omsToast").html("Please select Model name.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createPartBtn").removeAttr("disabled");
                return false;
            }
            if ($("#partName").val() == "") {
                $("#partName").focus();
                $("#omsToast").html("Please enter part no.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createPartBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#modelForPart").val(),
                "partNo": $("#partName").val()
            };
            $.post("/parts", JSON.stringify(requestData), function (res) {
                $('#stockAddPartModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createPartBtn").removeAttr("disabled");
                initPage();
            }).fail(function (res) {
                $('#stockAddPartModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createPartBtn").removeAttr("disabled");
            });
        }
        function createConfigBtnClick() {
            $("#createConfigBtn").attr("disabled", "disabled")
            if ($("#partForConfiguration").val() == "") {
                $("#partForConfiguration").focus();
                $("#omsToast").html("Please select Part No.");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createConfigBtn").removeAttr("disabled");
                return false;
            }
            if ($("#configName").val() == "") {
                $("#configName").focus();
                $("#omsToast").html("Please enter Configuration");
                $('.toast').removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning').toast('show');
                $("#createConfigBtn").removeAttr("disabled");
                return false;
            }
            var requestData = {
                "itemName": $("#model").val(),
                "partNo": $("#partForConfiguration").val(),
                "configDetails": $("#configName").val()
            };
            console.log(JSON.stringify(requestData));
            $.post("/configs", JSON.stringify(requestData), function (res) {
                $('#stockAddConfigModal').modal('hide');
                $("#omsToast").html(res.message);
                $('.toast').removeClass('bg-danger').removeClass('bg-warning').addClass('bg-success').toast('show');
                $("#createConfigBtn").removeAttr("disabled");
                initPage();
            }).fail(function (res) {
                $('#stockAddConfigModal').modal('hide');
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
                $("#createConfigBtn").removeAttr("disabled");
            });
        }

        function addNewBox() {
            $("#stockAddBoxModal").modal("show");
            $("#boxName").val("");
            $("#boxName").focus();
        }
        function addNewModel() {
            $("#stockAddModelModal").modal("show");
            $("#modelName").val("");
            $("#modelName").focus();
        }
        function addNewPart() {
            if ($("#model").val() != '0') {
                $("#stockAddPartModal").modal("show");
                $("#modelForPart").val($("#model").val());
                $("#modelForPart").focus();
            } else {
                $("#omsToast").html("Please select model.");
                $('.toast').addClass('bg-warning').toast('show');
            }
        }
        function addNewConfig() {
            if (null != $("#partNo").val() && $("#partNo").val() != '0') {
                $("#stockAddConfigModal").modal("show");
                $("#partForConfiguration").val($("#partNo").val());
                $("#partForConfiguration").focus();
            } else {
                $("#omsToast").html("Please select Part No.");
                $('.toast').addClass('bg-warning').toast('show');
            }
        }

        function initLocationData() {
            $.get("/storageLocations", function (res) {
                $("#boxNo").empty();
                res.forEach(element => {
                    $("#boxNo").append("<option value='" + element + "'>" + element.locationName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
            });
        }

        function initModelData() {
            $.get("/items", function (res) {
                $("#model").empty();
                $("#model").append("<option value='0' selected>Select model</option>");
                $("#modelForPart").empty();
                $("#modelForPart").append("<option value='0' selected>Select model</option>");
                items = res;
                items.forEach(element => {
// TODO: loop on items array here
                    var item = {}
                    item.name = element.itemName;
                    const parts = new Array();
                    element.parts.forEach(part => {
                        parts.push(part.partNo);
                    });
                    item.parts = parts;
                    items.push(element);
                    $("#model").append("<option value='" + element.itemName + "'>" + element.itemName + "</option>");
                    // $("#modelForPart").append("<option value='" + element.itemName + "'>" + element.itemName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $('.toast').addClass('bg-danger').toast('show');
            });
        }
    </script>
</head>

<body style="overflow: hidden;">
    <div class="row" style="width: 100%;">
        <div class="pt-2" style="width: 250px;">
            <div class="mb-1 ps-2">
                <label class="p-1 pb-0" for="boxNo">Box</label>
                <div class="input-group">
                    <select class="form-control" id="boxNo"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addBoxBtn" title="Add new Box">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="model" class="p-1 pb-0">Motherboard Model</label>
                <div class="input-group">
                    <select class="form-control" id="model"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addModelBtn" title="Add new Model">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="partNo" class="p-1 pb-0">Part</label>
                <div class="input-group">
                    <select class="form-control" id="partNo"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addPartBtn" title="Add new Part">+</button>
                </div>
            </div>
            <div class="ps-2">
                <label for="config" class="p-1 pb-0">Configuration</label>
                <div class="input-group">
                    <select class="form-control" id="config"></select>
                    <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                        data-bs-placement="top" id="addConfigBtn" title="Add new Configuration">+</button>
                </div>
            </div>
            <div class="row" style="padding-left: 12px;">
                <div class="col mb-1 ps-2">
                    <label for="details" class="p-1 pb-0">Details</label>
                    <div class="input-group">
                        <select class="form-control" id="details">
                            <option>GM</option>
                            <option>PM</option>
                        </select>
                    </div>
                </div>
                <div class="col ps-2 mb-1">
                    <label for="qty" class="p-1 pb-0">Quantity</label>
                    <input autocomplete="off" type="number" class="form-control" aria-label="qty" id="qty">
                </div>
            </div>
            <div class="row mb-1" style="padding-left: 12px;">
                <div class="col ps-2">
                    <label for="qty" class="p-1 pb-0">Buy Price</label>
                    <input autocomplete="off" type="number" class="form-control" aria-label="qty" id="buyPrice">
                </div>
                <div class="col ps-2">
                    <label for="qty" class="p-1 pb-0">Sell Price</label>
                    <input autocomplete="off" type="number" class="form-control" aria-label="qty" id="sellPrice">
                </div>
            </div>
            <div class="ps-2 mb-1">
                <label for="qty" class="p-1 pb-0">Remark 1</label>
                <input autocomplete="off" class="form-control" aria-label="qty" id="remark1">
            </div>
            <div class="mb-3 ps-2">
                <label for="qty" class="p-1 pb-0">Remark 2</label>
                <input autocomplete="off" class="form-control" aria-label="qty" id="remark2">
            </div>
            <div class="row" style="padding-left: 12px;">
                <div class="col ps-2">
                    <button type="button" style="width: 100%;" id="addStockBtn" class="btn btn-primary">Add</button>
                </div>
                <div class="col ps-2">
                    <button type="button" style="width: 100%;" disabled id="clearFieldsBtn"
                        class="btn btn-secondary">Clear</button>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <table id="dataTable" style="width: 100%;" class="display">
                <caption></caption>
                <thead>
                    <tr>
                        <th class="th-sm">Box No</th>
                        <th class="th-sm">Model</th>
                        <th class="th-sm">Part No</th>
                        <th class="th-sm">Configuration</th>
                        <th class="th-sm">Details</th>
                        <th class="th-sm">Quantity</th>
                        <th class="th-sm">Buy Price</th>
                        <th class="th-sm">Sell Price</th>
                        <th class="th-sm">Remark1</th>
                        <th class="th-sm">Remark2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>G1</td>
                        <td>Gigabyte</td>
                        <td>Edinburgh</td>
                        <td>Config</td>
                        <td>Details</td>
                        <td>61</td>
                        <td>Buy Price</td>
                        <td>Sell Price</td>
                        <td>Remark1</td>
                        <td>Remark2</td>
                    </tr>
                    <tr>
                        <td>Box3</td>
                        <td>Gigabyte</td>
                        <td>Tokyo</td>
                        <td>Config</td>
                        <td>Details</td>
                        <td>63</td>
                        <td>Buy Price</td>
                        <td>Sell Price</td>
                        <td>Remark1</td>
                        <td>Remark2</td>
                    </tr>
                    <tr>
                        <td>Box3</td>
                        <td>Asus</td>
                        <td>New York</td>
                        <td>Config</td>
                        <td>Details</td>
                        <td>Buy Price</td>
                        <td>Sell Price</td>
                        <td>Remark1</td>
                        <td>Remark2</td>
                        <td>61</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="stockAddBoxModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Box</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Box Name</span>
                        <input type="text" class="form-control" id="boxName" placeholder="Box Name" aria-label="boxName"
                            aria-describedby="boxName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createBoxBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddModelModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Model</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Model</span>
                        <input type="text" class="form-control" id="modelName" placeholder="Model Name"
                            aria-label="modelName" aria-describedby="modelName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createModelBtn" class="btn btn-primary">Create Model</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddPartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Part</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="model" class="p-1 pb-0">Motherboard Model</label>
                        <div class="input-group">
                            <select class="form-control" id="modelForPart"></select>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Part no</span>
                        <input type="text" class="form-control" id="partName" placeholder="Part Name"
                            aria-label="partName" aria-describedby="partName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createPartBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="stockAddConfigModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Configuration</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <label for="model" class="p-1 pb-0">Part No</label>
                        <div class="input-group">
                            <input type="text" disabled="disabled" class="form-control"
                                id="partForConfiguration"></select>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Part no</span>
                        <input type="text" class="form-control" id="configName" placeholder="Configuration"
                            aria-label="configName" aria-describedby="configName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createConfigBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>