<!DOCTYPE HTML>
<html lang="en">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .dataTables_wrapper .dataTables_filter {
            float: left;
            margin-top: 5px;
            /* padding-bottom: 5px; */
        }

        .dataTables_length {
            display: none;
            cursor: pointer;
        }

        .dataTables_filter input {
            min-width: 350px;
        }

        .allBtnCss {
            margin-left: 54px;
            width: 100px;
        }
        .noneBtnCss {
            width: 100px;
        }
        .updateBtnCss{
            width: 100px;
        }
    </style>
    <script type="text/javascript">
        var paymentTable, pendingOrderData;
        $(document).ready(
            function () {
                initData();
                initPaymentAccountData();
                $("#paymentType").change(paymentTypeChangeHandler);
                $("#showAccountForPaymentModalBtn").click(showAccountForPaymentBtnClick);
                $("#createAccountBtn").click(createAccountForPayment)
                $("#updatePaymentBtn").click(updatePayment)
                paymentTable = $("#dataTable").DataTable({
                    dom: 'Bfrtip',
                    //select: true,
                    // paging: false,
                    // scrollY: 420,
                    // info: false
                    buttons: [
                        {
                            text: 'All',
                            className: 'btn btn-secondary allBtnCss',
                            action: function () {
                                paymentTable.rows().select();
                            }
                        },
                        {
                            text: 'None',
                            className: 'btn btn-secondary noneBtnCss',
                            action: function () {
                                paymentTable.rows().deselect();
                            }
                        },
                        {
                            text: 'Update',
                            className: 'btn btn-primary updateBtnCss',
                            action: showUpdatePaymentModal
                        }
                    ],
                    data: pendingOrderData,
                    "columns": [
                        // {
                        //     data: "rowStatus",
                        //     "orderable": false,
                        //     "searchable": false,
                        //     render: function (data, type, row) {
                        //         if (type === 'display') {
                        //             return '<input type="checkbox" class="editor-active">';
                        //         }
                        //         return data;
                        //     },
                        //     className: "dt-body-center"
                        // },
                        { data: "challanNo" },
                        { data: "orderDate" },
                        { data: "customerName" },
                        { data: "model" },
                        { data: "part" },
                        { data: "config" },
                        { data: "details" },
                        { data: "qty" },
                        { data: "sellPrice", visible: false },
                        { data: "courierCharges" },
                        { data: "orderAmount" },
                        { data: "paymentType" },
                        { data: "salesOrderId", visible: false },
                        { data: "stockHeaderId", visible: false },
                        { data: "customerId", visible: false }
                    ]
                });
                $("#paymentDate").datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                }).on("changeDate", function (e) {
                    $("#paymentType").focus();
                });
                $('#paymentDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $('#dataTable tbody').on('click', 'tr', function () {
                    $(this).toggleClass('selected');
                });
            });

        function initPaymentAccountData() {
            $.get("/paymentAccounts", function (res) {
                paymentAccounts = res;
                $("#orderRemark").empty();
                $("#orderRemark").append("<option selected='selected' value='0'>Select payment account</option>");
                res.forEach(paymentAccount => {
                    $("#orderRemark").append("<option value='" + paymentAccount.id + "'>" + paymentAccount.accountName + "</option>");
                });
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
        function showAccountForPaymentBtnClick() {
            $("#accountName").val("");
            $("#addAccountNameForPaymentModal").modal("show");
        }
        function paymentTypeChangeHandler() {
            if ($("#paymentType").val() == "bank" || $("#paymentType").val() == "paytm") {
                $("#orderRemark").removeAttr("disabled");
            } else {
                $("#orderRemark").val("0");
                $("#orderRemark").attr("disabled", "disabled")
            }
        }
        function createAccountForPayment() {
            if ($("#accountName").val() == "") {
                $("#accountName").focus();
                return false;
            }
            var requestData = {
                "paymentAccountName": $("#accountName").val(),
                "userId": appUser.userId
            };
            $.post("/paymentAccounts", JSON.stringify(requestData), function (res) {
                initPaymentAccountResponseData(res.data);
                $("#addAccountNameForPaymentModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
            }).fail(function (res) {
                $("#addAccountNameForPaymentModal").modal("hide");
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }

        function showUpdatePaymentModal() {
            var rowProcessed = false;
            var challanNoLabelList = new Array();
            var challanNoList = new Array();
            var totalAmountCalculated = 0;
            paymentTable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
                rowProcessed = true;
                var d = this.data();
                // console.log(JSON.stringify(d));
                challanNoList.push(d.challanNo);
                challanNoLabelList.push(" " + d.challanNo + "(" + d.orderAmount + ")");
                totalAmountCalculated += d.orderAmount;
                $("#customer").val(d.customerName);
                $("#customerId").val(d.customerId);
            });
            if (rowProcessed) {
                $("#challanNos").val(challanNoList);
                $("#challanNoslabel").val(challanNoLabelList);
                $("#totalAmount").val(totalAmountCalculated);
                $("#updatedTotalAmount").val(totalAmountCalculated);
                $('#paymentDate').datepicker('update', formatDateAsDDMMYYYY(new Date()));
                $("#updatePaymentModal").modal("show");

            } else {
                $("#omsToast").html("Please select row for updating payment");
                $(".toast").addClass("bg-danger").toast("show");
            }

        }
        function updatePayment() {
            if($("#updatedTotalAmount").val() == "" || $("#updatedTotalAmount").val()<0) {
                $("#updatedTotalAmount").focus();
                $("#omsToast").html("Amount can not be less than 0.");
                $(".toast").addClass("bg-danger").toast("show");
                return false;
            }
            if ($("#paymentType").val() == 0) {
                $("#paymentType").focus();
                return false;
            }
            if (($("#paymentType").val() == 'bank' || $("#paymentType").val() == 'paytm') && $("#orderRemark").val() == 0) {
                $("#orderRemark").focus();
                return false;
            }
            var requestData = {
                "paymentDate": $("#paymentDate").val(),
                "challanNos": $("#challanNos").val(),
                "customerId": $("#customerId").val(),
                "paymentType": $("#paymentType").val(),
                "paymentAccount": $("#orderRemark").val(),
                "amount": $("#totalAmount").val(),
                "updatedAmount": $("#updatedTotalAmount").val(),
                "userId": appUser.userId
            };
            $.post("/paymentIn", JSON.stringify(requestData), function (res) {
                paymentTable.rows('.selected').remove().draw();
                $("#updatePaymentModal").modal("hide");
                $("#omsToast").html(res.message);
                $(".toast").removeClass("bg-danger").addClass("bg-success").toast("show");
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }

        function initData() {
            $.get("/salesOrders", function (res) {
                pendingOrderData = res.data;
            }).fail(function (res) {
                $("#omsToast").html(JSON.parse(res.responseText).message);
                $(".toast").addClass("bg-danger").toast("show");
            });
        }
    </script>
</head>

<body>
    <div class="mt-1 px-1">
        <table id="dataTable" style="width: 100%;font-size: 11px;" class="display">
            <thead>
                <tr>
                    <th class="th-sm" style="max-width: 40px;">Challan</th>
                    <th class="th-sm" style="max-width: 50px;">Order Date</th>
                    <th class="th-sm">Customer</th>
                    <th class="th-sm">Model</th>
                    <th class="th-sm">Part</th>
                    <th class="th-sm">Config</th>
                    <th class="th-sm" style="max-width: 40px;">Details</th>
                    <th class="th-sm" style="max-width: 20px;">Qty</th>
                    <th class="th-sm">Sell Price</th>
                    <th class="th-sm" style="max-width: 40px;">Courier Charges</th>
                    <th class="th-sm" style="max-width: 40px;">Order Amount</th>
                    <th class="th-sm" style="max-width: 40px;">P. Type</th>
                    <th class="th-sm">SalesOrderId</th>
                    <th class="th-sm">StockHeaderId</th>
                    <th class="th-sm">CustomerId</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal fade" id="updatePaymentModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-0">
                        <span class="input-group-text" style="width: 140px;text-align: right;display: block;">Payment
                            Date</span>
                        <input type="text" readonly class="form-control" id="paymentDate">
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text"
                            style="width: 140px;text-align: right;display: block;">Customer</span>
                        <input disabled type="text" class="form-control" id="customer" aria-label="customer"
                            aria-describedby="customer">
                    </div>
                    <div class="input-group mb-0">
                        <input hidden disabled type="text" id="customerId">
                    </div>
                    <div class="input-group mb-0">
                        <input hidden disabled type="text" class="form-control" id="challanNos" aria-label="challanNos"
                            aria-describedby="challanNos">
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text"
                            style="width: 140px;text-align: right;display: block;">Challan</span>
                        <input disabled type="text" class="form-control" id="challanNoslabel"
                            aria-label="challanNoslabel" aria-describedby="challanNoslabel">
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text" style="width: 140px;text-align: right;display: block;">Total
                            Amount</span>
                        <input disabled type="text" class="form-control" id="totalAmount" aria-label="totalAmount"
                            aria-describedby="totalAmount">
                        <input type="text" class="form-control" id="updatedTotalAmount">
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text" style="width: 140px;text-align: right;display: block;">Payment
                            Type</span>
                        <select class="form-control" id="paymentType" style="max-width: 160px;">
                            <option value="0">Select Payment Type</option>
                            <option value="cash">Cash</option>
                            <option value="vpp">VPP</option>
                            <option value="paytm">Paytm</option>
                            <option value="bank">Bank</option>
                        </select>
                        <span class="input-group-text" style="width: 130px;text-align: right;display: block;">Account
                            Name</span>
                        <select class="form-control" id="orderRemark" disabled>
                        </select>
                        <button type="button" class="btn btn-secondary" tabindex="-1" data-bs-toggle="tooltip"
                            data-bs-placement="top" id="showAccountForPaymentModalBtn" title="Add Account">+</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="updatePaymentBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addAccountNameForPaymentModal" data-bs-backdrop="static" data-bs-keyboard="true"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Account Name</span>
                        <input autocomplete="off" type="text" class="form-control" id="accountName"
                            placeholder="Account Name" aria-label="accountName" aria-describedby="accountName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="createAccountBtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>