<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		submenuNav("/createCustomerPage");
	});
	function submenuNav(menupath) {
		$("#customerDiv").html("Loading...");
		$(".nav .nav-link").on("click", function() {
			$(".nav").find(".active").removeClass("active");
			$(this).addClass("active");
		});
		$("#customerDiv").load(menupath);
	}
</script>
</head>
<body>
	<div>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active"
				id="createCustomerId" aria-current="page"
				onclick='submenuNav("/createCustomerPage")' href="#">Create
					Customer</a></li>
			<li class="nav-item"><a class="nav-link" id="updateCustomerId"
				onclick='submenuNav("/updateCustomerPage")' href="#">Update
					Customer</a></li>
		</ul>
		<div id="customerDiv"></div>
	</div>
</body>
</html>
