<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		
		initCategories();
		initUnits();
		
		$("#createItemBtn").click(function() {
			$("#createItemBtn").prop("disabled", true);
			
			const partNoVal = $("#partNo").val();
			const itemNameVal = $("#itemName").val();
			const status=$("#status").val();
			const unit=JSON.parse($("#unit").val());
			const category=JSON.parse($("#category").val());

			if (undefined == itemNameVal || itemNameVal == "") {
				$("#itemName").focus();
				$("#createItemBtn").prop("disabled", false);
				return;
			}
			if (undefined == status || status === "0") {
				$("#status").focus();
				$("#createItemBtn").prop("disabled", false);
				return;
			}
			if(undefined==JSON.stringify(category.id)){
				$("#category").focus();
				$("#createItemBtn").prop("disabled", false);
				return;
			}
			if(undefined==JSON.stringify(unit.id)){
				$("#unit").focus();
				$("#updateUnitBtn").prop("disabled", false);
				return false;
			}
			const reqObj = {"itemName" : itemNameVal, "partNo" : partNoVal, "status" : status,
					"itemUnitId" : unit.id, "itemCategoryId" : category.id}

			$.post("/items", JSON.stringify(reqObj), function(res) {
					$("#omsToast").html(res.message);
					$('.toast').removeClass('bg-danger').addClass('bg-success').toast('show');
				}).fail(function(res) {
					$("#omsToast").html(JSON.parse(res.responseText).message);
					$('.toast').addClass('bg-danger').toast('show');
				});
			$("#createItemBtn").prop("disabled", false);
			});
		});
	function initCategories(){
		$("#category").empty();
		$("#category").append("<option value=0 selected>Select Category</option>");
		$.get("/categories",function(res){
			res.forEach(category =>{
				$("#category").append("<option value="+JSON.stringify(category)+">"+category.categoryName+"</option>");
			});
			
		})
	}
	function initUnits(){
		$("#unit").empty();
		$("#unit").append("<option value=0 selected>Select Unit</option>");
		$.get("/units",function(res){
			res.forEach(unit =>{
				$("#unit").append("<option value="+JSON.stringify(unit)+">"+unit.unitName+"</option>");
			});
			
		})
	}
</script>
</head>
<body>
	<div class="card m-3" style="min-height: 400px;">
		<div class="card-body">
			<div class="mb-1">
				<label for="itemName" class="mb-0">Item Name</label> <input
					class="form-control" id="itemName" placeholder="Item Name">
			</div>
			<div class="mb-1">
				<label for="partNo" class="form-label mb-0">Part
					No</label> <input class="form-control" id="partNo"
					placeholder="Part No">
			</div>
			<div class="mb-1">
				<label for="status" class="mb-0">Status</label> <select id="status"
					class="form-select form-select-sm" aria-label="Select Status">
					<option value="0">Select status</option>
					<option value="Active">Active</option>
					<option value="Disabled">Disabled</option>
				</select>
			</div>
			<div class="mb-1">
				<label for="category" class="mb-0">Category</label> <select
					id="category" class="form-select form-select-sm"
					aria-label="Select Category">
				</select>
			</div>
			<div class="mb-1">
				<label for="unit" class="mb-0">Unit</label> <select
					id="unit" class="form-select form-select-sm"
					aria-label="Select Unit">
				</select>
			</div>
			<button type="button" id="createItemBtn"
				class="btn btn-primary mt-1">Create Item</button>
		</div>
	</div>
</body>
</html>
