<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	$(document).ready(function() {
		initItems();
		initCategories();
		initUnits();
		
		$("#item").change(function(){
			const item=JSON.parse($(this).val());
			if(undefined!=item.id){
				$("#itemName").val(item.itemName);
				$("#partNo").val(item.partNo);
				$("#status").val(item.status);
				$("#category").val(JSON.stringify(item.itemCategory));
				$("#unit").val(JSON.stringify(item.itemUnit));
			}else{
				initControlls();
			}
		})
		
		$("#updateItemBtn").click(function() {
			$("#updateItemBtn").prop("disabled", true);
			
			const item=JSON.parse($("#item").val());
			const partNoVal = $("#partNo").val();
			const itemNameVal = $("#itemName").val();
			const status=$("#status").val();
			const unit=JSON.parse($("#unit").val());
			const category=JSON.parse($("#category").val());

			if (undefined == itemNameVal || itemNameVal == "") {
				$("#itemName").focus();
				$("#updateItemBtn").prop("disabled", false);
				return;
			}
			if (undefined == status || status === "0") {
				$("#status").focus();
				$("#updateItemBtn").prop("disabled", false);
				return;
			}
			if(undefined==JSON.stringify(category.id)){
				$("#category").focus();
				$("#updateItemBtn").prop("disabled", false);
				return;
			}
			if(undefined==JSON.stringify(unit.id)){
				$("#unit").focus();
				$("#updateItemBtn").prop("disabled", false);
				return false;
			}
			const reqObj = {"itemName" : itemNameVal, "partNo" : partNoVal, "status" : status,
					"itemUnitId" : unit.id, "itemCategoryId" : category.id}

			$.ajax({
			    type: 'PUT',
			    url: "/items/"+item.id,
			    contentType: 'application/json',
			    data: JSON.stringify(reqObj), 
			}).done(function(res) {
				initItems();
				initControlls();
				$("#omsToast").html(res.message);
				$('.toast').removeClass('bg-danger').addClass('bg-success').toast('show');
			}).fail(function(res) {
				$("#omsToast").html(JSON.parse(res.responseText).message);
				$('.toast').addClass('bg-danger').toast('show');
			});
			$("#updateItemBtn").prop("disabled", false);
			});
		});
	
	function initControlls(){
		$("#itemName").val("");
		$("#partNo").val("");
		$("#status").val(0);
		$("#category").val(0);
		$("#unit").val(0);
	}
	
	function initItems(){
		$("#item").empty();
		$("#item").append("<option value=0 selected>Select Item</option>");
		$.get("/items",function(res){
			res.forEach(item =>{
				$("#item").append("<option value="+JSON.stringify(item)+">"+item.itemName+"</option>");
			});
			
		})
	}
	function initCategories(){
		$("#category").empty();
		$("#category").append("<option value=0 selected>Select Category</option>");
		$.get("/categories",function(res){
			res.forEach(category =>{
				$("#category").append("<option value="+JSON.stringify(category)+">"+category.categoryName+"</option>");
			});
			
		})
	}
	function initUnits(){
		$("#unit").empty();
		$("#unit").append("<option value=0 selected>Select Unit</option>");
		$.get("/units",function(res){
			res.forEach(unit =>{
				$("#unit").append("<option value="+JSON.stringify(unit)+">"+unit.unitName+"</option>");
			});
			
		})
	}
</script>
</head>
<body>
	<div class="card m-3" style="min-height: 400px;">
		<div class="card-body">
			<div class="mb-1">
				<label for="item" class="mb-0">Items</label> <select id="item"
					class="form-select form-select-sm" aria-label="Select Item">
				</select>
			</div>
			<div class="mb-1">
				<label for="itemName" class="mb-0">Item Name</label> <input
					class="form-control" id="itemName" placeholder="Item Name">
			</div>
			<div class="mb-1">
				<label for="partNo" class="form-label mb-0">Part No</label> <input
					class="form-control" id="partNo" placeholder="Part No">
			</div>
			<div class="mb-1">
				<label for="status" class="mb-0">Status</label> <select id="status"
					class="form-select form-select-sm" aria-label="Select Status">
					<option value="0">Select status</option>
					<option value="Active">Active</option>
					<option value="Disabled">Disabled</option>
				</select>
			</div>
			<div class="mb-1">
				<label for="category" class="mb-0">Category</label> <select
					id="category" class="form-select form-select-sm"
					aria-label="Select Category">
				</select>
			</div>
			<div class="mb-1">
				<label for="unit" class="mb-0">Unit</label> <select id="unit"
					class="form-select form-select-sm" aria-label="Select Unit">
				</select>
			</div>
			<button type="button" id="updateItemBtn" class="btn btn-primary mt-1">Update
				Item</button>
		</div>
	</div>
</body>
</html>
